
<div class="card text-bg-light">
    <div class="card-body">
        <h5 class="card-title">Category</h5>
       <div>
           <a href="#" class="card-link">Category link</a>
       </div>
        <div>
            <a href="#" class="card-link">Category Link</a>
       </div>
    </div>
</div>
   

