<div class="subcategory" style="margin-top:0px;padding-top:0px;">
    <div class="row">
        <div class="col-sm-12">
            <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"> Submenuone </a>
        </div>
    </div>
</div>