@model OnlineShopping.DataAccess.Models.UserShippingAddress
<style>

    a {
        font-size: 12px;
        color: #1a9cb7;
        text-decoration: none;
    }

    h3 {
        font-size: 22px;
        color: #424242;
        font-weight: 400;
    }

    .container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>
@using (Html.BeginForm("PaymentMethod", "Order", FormMethod.Post))
    {
<body class="bg-light">
    <div class="container ">      
        <div class="row p-100 bg-white pb-5  shadow pt-3 ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 "><h3 style="text-align:center;">User Shipping Address </h3></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>ShippingAddress</label>
                        @Html.TextBoxFor(a=>a.ShippingAddress , new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter  ShippingAddress" })
                    </div>
                    <div class="col-sm-6">
                        <label>PhoneNumber</label>
                            @Html.TextBoxFor(a => a.PhoneNo , null, new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter your PhoneNumber" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"> 
                        <label>Email Address</label>
                        @Html.TextBoxFor(a=>a.EmailAddress, null, new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter  EmailAddress" })
                    </div>                    
                </div>
                <div class="row pb-2 pt-2">
                    <div class="col-sm-6">
                        <button class="btn  btn-lg " value="save" type ="submit" style="background-color:#f85606;width:100%;color:white;">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
}