@model OnlineShopping.DataAccess.Models.Order
<style>

    a {
        font-size: 12px;
        color: #1a9cb7;
        text-decoration: none;
    }

    h3 {
        font-size: 22px;
        color: #424242;
        font-weight: 400;
    }

    .container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>
<body class="bg-light">
    <div class="container ">
        @*  <div class="row">
        <div class="col-sm-6"><h3>Review</h3></div>
        </div> *@
        <div class="row p-100 bg-white pb-5  shadow pt-3 ">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 "><h3 style="text-align:center;">Payment Methods </h3></div>
                </div>
               



                <div class="row pb-2 pt-2">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">

                        <button class="btn  btn-lg  btn-success w-100" value="save">Credit / Debit Car</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row pb-2  pt-2">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        @using (Html.BeginForm("Index", "Order", FormMethod.Post))
    {
                        <button class="btn  btn-lg btn-success  w-100" value="save">Cash On Hand</button>
    }
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>

        </div>
    </div>
</body>