html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    color:white;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: white;
}

body {
  margin-bottom: 60px;
}
.darazcolor {
    background-color:#f85606;
}
.darazfontcolor {
    color: #f85606;
}
.footerfont {
    line-height: 17px;
    color: #0f136d;
    font-size: 0.75rem;
    font-family: NotoSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC, Microsoft YaHei, sans-serif !important;
}